Dockerfile
.dockerignore
.gitignore
README.md
yarn.lock

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
.git
dist
node_modules
npm-debug.log
deployment.yaml